.places{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.places h1{
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 820px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
 .places .price_by_night {
    color: #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: #FF5A5F solid 50%;
    font-size: 30px;
    text-align: right;
    justify-content: space-around;
 }
 .places .information {
    height: 80px;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
 }
 .max_guest, .number_rooms .number_bathrooms {
    width: 100px;
 }
 .information .max_guest {
    background-image: url("../images/icon_group.png");
   
 }
 .information .number_rooms {
    background-image: url("../images/icon_bed.png");
 }
 .information .number_bathrooms {
    background-image: url("../images/icon_bath.png");
 }